*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:focus,
a:hover {
  opacity: 80%;
}

header {
  background-color: #2e323f;
  margin: 0;
  text-align: center;
  padding: 1em 0;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
}

.nav_list-primary,
.nav_list-secondary {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_list-secondary {
  margin-top: 2em;
}

.nav_item {
  margin-top: 0.75em;
}

.nav_link {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.nav_link-btn {
  background-color: #a59678;
  border-radius: 100px;
  padding: 0.25em 0.75em;
}

.hero {
  background-color: #3b4050;
  margin: 0;
  padding: 2.5em;
}

.title {
  margin: 0;
  font-size: 5rem;
  color: #a59678;
}

.title .white {
  color: white;
}

.hero p {
  margin-bottom: 1.5em;
}

.btn {
  background-color: #a59678;
  padding: 0.5em 2em;
  border-radius: 100px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.three_cols p {
  color: black;
  font-size: 1.125rem;
}

.col_heading {
  color: #a59678;
  font-size: 1.875rem;
}

.three_cols {
  background-color: #f1f1f1;
  margin: 0;
  padding: 1em;
  text-align: center;
}

.main_section {
  padding: 0 1em;
  margin: 0 auto;
}

.main_section p {
  color: black;
  font-size: 1.3125rem;
  width: 95%;
  margin: 0 auto;
}

.main_section-heading {
  color: #a59678;
  font-size: 1.9rem;
  margin: 1em auto;
  padding: 0;
  width: 95%;
}

.main_image {
  display: block;
  width: 95%;
  padding: 0;
  margin: 1em auto 2em auto;
}

.box {
  background-color: #3b4050;
  color: white;
  text-align: center;
  width: 95%;
  margin: 2em auto;
  padding: 1em 0;
}

.box_heading {
  font-size: 1.875rem;
  margin-bottom: 1em;
  margin-top: 0;
}

.box p {
  color: white;
  font-size: 1.125rem;
  margin-bottom: 2em;
}

.footer {
  background-color: #3b4050;
  margin: 0;
  padding: 1em 1em;
}

.footer_heading {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.footer_tab {
  color: #a59678;
  font-size: 1.3125;
  font-weight: 600;
}

.footer .about,
.footer a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.lists_flex {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.lists_flex col {
  width: 100%;
}

.footer_list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
}

.footer_list-item {
  margin-bottom: 1em;
}

.credits .design_credit {
  margin-top: 2.5em;
}

.credits p {
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  text-align: center;
}

.credits a {
  color: #a59678;
  font-size: 0.8rem;
}
